<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" value="summary" />
    <meta name="twitter:site" value="@OdeAlaROSE" />
    <meta name="twitter:creator" value="@OdeAlaROSE" />
    <meta name="theme-color" content="#431337" />
    <meta name="msapplication-navbutton-color" content="#431337" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#431337" />
    <title>Order Tracking | Odealarose</title>
    <meta name="description"
        content="If you wish to follow your order and see a photo of the bouquet you have ordered: Enter the access code we sent you by e-mail then submit." />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="keywords" content="" />

    <link href="css/styles-3d526f0f26.css" rel="stylesheet" />

</head>

<body class=" js-header-oalr js-body" >
    

    <!-- main -->
    <div class="ufsite main"  id="app">
        <h1 class="order-title" v-html="title"></h1>
        <fieldset class="border-section order-follow">
            <div class="order-tracking-form">
                <!-- form -->
                <form method="post" enctype="multipart/form-data" action="javascript:" v-show="!showdetail">
                    <div class="form-group">
                        <label class="required">
                            Order number
                            <strong>*</strong></label>
                        <input type="text" id="form_order_tracking_reference" name="form_order_tracking[reference]"
                            v-model="query.order_number" required="required" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="required">
                            E-mail
                            <strong>*</strong></label>
                        <input type="email" id="form_order_tracking_email" name="form_order_tracking[email]"
                            v-model="query.mail" required="required" class="form-control" />
                    </div>
                    <a class="text-color-link" href="javascript:void()">Can't find your order. Call us (646) 583-1930</a><br>
                    <input type="hidden" id="form_order_tracking__token" name="form_order_tracking[_token]"
                        value="wqGtCLYt09ykwS_1nyLLNvc9i6lC0wGKeVqB466vd6I" />
                    <button type="submit" class="button-grey"
                        data-action="submit-connexion-order-follow" @click="submit_order">Submit</button>
                </form>

                <!-- detail -->
                <div class="container" v-show="showdetail">
                    <div class="row" id="product_info" style="display: flex;">
                        <div class="col-md-5">
                            <img :src="(order.flowerPicture==null || order.flowerPicture=='')?default_img:order.flowerPicture" alt="">
                        </div>
                        <div class="col-md-7">
                            <!-- order -->
                            <div class="col-md-12">
                                <h4>Order Name: #<span v-html="order.orderNumber"></span></h4>
                            </div>
                            <!-- customer -->
                            <div class="col-md-12">
                                <h4>Customer: <span v-html="order.lastName"></span>  <span v-html="order.firstName"></span></h4>
                            </div>
                            <div class="col-md-12">
                                <h4>Email:<span v-html="order.userEmail"></span></h4>
                            </div>
                            <div class="col-md-12">
                                <h4>Zip:<span v-html="order.userZip"></span></h4>
                            </div>
                            <div class="col-md-12">
                                <h4>State: <span style="color:red;" v-html="order.orderStatus"></span></h4>
                            </div>
                           
                            
                            <div class="col-md-12" style="position: absolute;bottom: 0;">
                                <button type="button" class="button-grey" @click="back_home">Back Home</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <!-- script -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="js/vue.min.js"></script>
    <script src="js/axios.js"></script>
    <!-- service javascript -->
    <script src="js/index.js"></script>

</body>

</html>